:root {
/*   --swiper-theme-color: #007aff; */
  --swiper-theme-color: #B5B6BC;
  --swiper-pagination-bullet-inactive-color: #DDDDDD;
  --swiper-navigation-size: 44px;
}

#B5B6BC html,
body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

button,
a,
h1,
li,
ol {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; /* Нужно чтобы убрать подсветку на тап в мобильных Safari */
  text-decoration: none;
  list-style: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  height: 80px;
  border-top: 1px solid #d9fff5;
}

    @media (min-width: 768px) {
  .header {
    justify-content: flex-start;
      height: 56px;
      padding-left: 24px;
  }

  .header__h1 {
    max-width: 338px;
  }
  }

.header__h1 {
  font-family: "TT Lakes";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7e7e82;
  height: 48px;
  max-width: 288px;
}

.main {
  background-color: #f8f8f8;
  flex: 1;
}

.main__catalog-slider {
  min-height: 104px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  position: relative;
  gap: 16px;
  padding-left: 16px;
}

.swiper {
  position: relative;
}

.main__catalog-slider__button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 240px;
  height: 72px;
  background-color: #ffffff;
  border: #eaeaea solid 1px;
  border-radius: 5px;
}

.services__scroll-fade {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 40px;
  background: linear-gradient(
    270deg,
    #f8f8f8 16.84%,
    rgba(248, 248, 248, 0.0001) 100%
  );
  pointer-events: none;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}


.main__catalog__button {
  width: 240px;
  height: 72px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 5px;
}

.swiper-pagination {
  position: static;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination-bullet {
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 12px)
  );
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 12px)
  );
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
  background: var(--swiper-pagination-bullet-inactive-color, #000);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 1);
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
}

